@import 'common.scss';

.card {
    display: block;
    margin: 40px 0;
    box-shadow: 3px 3px 13px 0 rgba(0, 0, 0, 0.06);
    transition: 0.25s;

    &:hover {
        box-shadow: 3px 3px 13px 0 rgba(0, 0, 0, 0.1);
        transition: 1.25s;

        .button-primary {
            transform: translate(10px, 0);
        }
        .more {
            font-weight: 550;
        }
    }
    & a {
        display: flex;
    }
}

.card-header {
    height: 150px;
    padding: 3%;
    background-size: cover;
    color: #fff;
}

.card-header--title {
    text-transform: uppercase;
    margin: 0;
}

.card-body {
    padding: 6%;
    background-color: #fff;
}

.date {
    font-size: 11px;
    font-weight: 600;
    color: grey;
}

.body-content {
    margin-bottom: 20px;
    font-size: 13px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* 여러 줄 자르기 추가 스타일 */
    white-space: normal;
    line-height: 1.8;
    height: 3.6em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.button-primary {
    border: none;
    box-shadow: none;
    font-family: inherit;
    background-color: transparent;
    color: grey;
    font-size: 15px;
    transition: 0.25s;
    padding: 10px 0;
    i {
        padding-right: 4px;
    }
}

.designer-link {
    color: #fff;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    display: block;
}

.more {
    margin-left: 5px;
    cursor: pointer;
    color: #ff6d70;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
}

.title {
    font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
