$pointColor: #ff6d70;

/********************* 폰트 초기화 *************************/
/********************* Montserrat ***********************/
@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: url('./fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url('./fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    src: url('./fonts/Montserrat/Montserrat-Black.ttf');
}
/********************* Montserrat ***********************/

/******************** Noto Sans KR **********************/
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 200;
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-Light.otf');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-Regular.otf');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 600;
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-Bold.otf');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 800;
    src: url('./fonts/Noto_Sans_KR/NotoSansKR-Black.otf');
}
/******************** Noto Sans KR **********************/

body,
html {
    margin: 0;
}

.kr {
    font-family: 'Noto Sans KR', sans-serif;
    &.header-font {
        font-size: 28px;
        font-weight: 510;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: -1.6px;
        color: #333333;

        margin-bottom: 15px;
    }

    &.desc-font {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -1.1px;
        color: #666666;

        margin-bottom: 15px;
    }
}
.en {
    font-family: 'Montserrat', sans-serif;
    &.header-font {
        font-size: 28px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: -1.6px;
        color: #333333;

        margin-bottom: 15px;
    }

    &.desc-font {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -1.1px;
        color: #666666;

        margin-bottom: 15px;
    }
}

//반응형 layout======================
@media (min-width: 1920px) {
    .responsive {
        width: 1200px;
        margin: 0 auto;
    }
}
@media (max-width: 1920px) and (min-width: 769px) {
    .responsive {
        width: 760px;
        margin: 0 auto;
    }
    .card {
        width: 31%;
        & + & {
            &:nth-child(3n-1) {
                margin-left: 3.5%;
            }
            &:nth-child(3n) {
                margin-left: 3.5%;
            }
        }
    }
}
@media (max-width: 768px) {
    .responsive {
        width: 90%;
        margin: 0 auto;
    }

    .card {
        width: 48.5%;
        & + & {
            &:nth-child(2n) {
                margin-left: 3%;
            }
            &:nth-child(2n-1) {
                margin-left: 0;
            }
        }
    }
}
