$point-color: #1775d1;

body,
html {
    margin: 0;
}

.header-font {
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: -1.6px;
    text-align: left;
    color: #333333;

    &.kr {
        font-family: 'Noto Sans KR', sans-serif;
    }

    &.en {
        font-family: 'Montserrat', sans-serif;
    }
}

.desc-font {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.1px;
    text-align: left;
    color: #666666;

    &.kr {
        font-family: 'Noto Sans KR', sans-serif;
    }

    &.en {
        font-family: 'Montserrat', sans-serif;
    }
}

//반응형 layout======================
@media (min-width: 1920px) {
    .responsive {
        width: 1200px;
        margin: 0 auto;
    }
}
@media (max-width: 1920px) and (min-width: 769px) {
    .responsive {
        width: 760px;
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    .responsive {
        width: 90%;
        margin: 0 auto;
    }
}
