$pointColor: #ff6d70;

body {
}
.headerBody {
    background-color: white;
    margin-top: -120px;
    padding-top: 120px;
}
.faq {
    width: 100%;
}
.accordion {
    min-height: 48vh;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #f5f7fa;
}
.subRoute {
    margin-top: 25px;
    margin-bottom: 1px;

    & ul {
        margin: 0;
        padding: 0;
        display: flex;
        & li {
            list-style: none;
        }
    }
}
.listStyle {
    padding: 10px 15px;
    font-size: 18px;
    color: #e2e2e2;
    & + & {
        margin-left: 0;
    }

    & span {
        margin-right: 5px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
}
.able {
    color: black;
    border-bottom: $pointColor 2px solid;
    & span {
        color: $pointColor;
    }
}
