$pointColor: #ff6d70;

body {
    margin: 0;
}
a {
    background: transparent;
    text-decoration: none;
    color: inherit;
}
button {
    outline: 0 !important;
    cursor: pointer !important;
    border: 0;
}
input {
    outline: 0 !important;
}

/* 메뉴 바 */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.15);
    position: relative;
    .responsive {
        display: flex;
        height: 39px;
        justify-content: space-between;
    }
}
.logo {
    display: flex;
    align-items: center;
    float: left;
    cursor: pointer;

    & svg {
        width: 230px;
    }
}

.nav_right {
    cursor: pointer;
    float: right;
    display: flex;
    align-items: center;
    height: 39px;
}
.nav_list {
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(229, 229, 229);
}
.nav_list a {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -1.1px;
    text-align: left;
    color: #333333;
    margin-right: 30px;

    &:hover {
        font-weight: 600;
    }
}

.nav_button {
    padding-left: 30px;
}
.nav_button button {
    cursor: pointer;
    width: 120px;
    height: 39px;
    color: $pointColor;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: -1px;

    border-radius: 23px;
    border: solid 1.5px $pointColor;
    background-color: #ffffff;

    span + span {
        padding-left: 10px;
        transition: 0.2s;
    }

    &:hover {
        span + span {
            padding-left: 14px;
            transition: 0.2s;
        }
    }
}
