$pointColor: #ff6d70;
$fontPrimary: #333333;
$fontSecondary: #666666;

.section4 {
    padding: 84px 0;
    width: 100%;
    background-color: #ffffff;
}

.inner-header {
    & .header-font {
        text-align: center;
    }
}

.history-group + .history-group {
    margin-top: 56px;
}

.inner-content {
    padding: 48px 0;

    & .history-group {
        display: flex;
        width: 100%;
        // margin: 56px 0;

        & .text-year {
            margin-right: 48px;
            & p {
                margin: 0;
                color: $fontPrimary;
            }
        }
    }
}

.text-history {
    margin: 0;
    color: $fontSecondary;
    font-size: 1.1rem;

    & span {
        color: $pointColor;
        font-weight: 600;
    }

    & + & {
        margin-top: 0.975rem;
    }
}
