$pointColor: #ff6d70;

.section3 {
    width: 100%;
    background-color: #f5f7fa;
    padding: 50px 0;
}
.cardView {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.project-header {
    text-align: center;
}

.project-count {
    text-align: center;
    margin: 15px 0;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1.1px solid #333333;
}
.count {
    & p {
        font-size: 14px;
    }
}

.moreButton {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
p {
    margin: 0;
    color: white;
}
